<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>aisservices-api</display-name>

	<servlet>
		<servlet-name>Ais</servlet-name>
		<servlet-class>dk.dma.aisservices.api.http.Ais</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Ais</servlet-name>
		<url-pattern>/http/service</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AisGreenland</servlet-name>
		<servlet-class>dk.dma.aisservices.api.http.AisGreenland</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AisGreenland</servlet-name>
		<url-pattern>/http/service_greenland</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>Status</servlet-name>
		<servlet-class>dk.dma.aisservices.api.http.Status</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Status</servlet-name>
		<url-pattern>/http/status</url-pattern>
	</servlet-mapping>
	


</web-app>